<?xml version="1.0" encoding="utf-8"?>
<ContentProxy>
  <Server port="4615" http_timeout_seconds="3" />
  <ServiceRegistry type="demisauce" appname="hudsucker_testing" source="http://localhost:4951" api_key="a95c21ee8e64cb5ff585b5f9b761b39d7cb9a202" />
  <Memcached servers="192.168.125.128:11211" content_expiry_minutes="180" />
  <Database username="" password="" dsn="" min="1" max="2" increment="1" />
</ContentProxy>
